#display {
  background-color: aqua;
  height: 250px;
}

#botonera {
  background-color: aquamarine;
  height: 250px;
}

#alcoholList {
  background-color: bisque;
  height: 250px;
}

#indiceAlcohol {
  background-color: blanchedalmond;
  height: 250px;
}
